<?php /** @var Training4\Vendor2Product\Block\VendorView $block */ ?>

<table>
    <tr>
        <th>
            Vendor
        </th>
    </tr>
    <?php foreach ($block->view() as $item): ?>
    <tr>
        <td>
            <?php echo $item->getData('name') ?>
        </td>
    </tr>
    <?php endforeach; ?>
</table>