<?php /** @var \Training3\OrderInfo\Block\Index $block */ ?>
<form method="post" action="<?php echo $this->getUrl() . 'orderinfo/order/info'; ?>" name="orderDetail">
    <div class="form-group" style="margin-bottom: 5px">
        <label for="id"><?php echo __('Order Id: ');?></label>
        <input type="number" class="form-control" id="id" name="id">
    </div>
    <div class="form-group" style="margin-bottom: 5px">
        <label for="json"><?php echo __('Is Json: ');?></label>
        <input type="radio" id="yes" name="json" value="1">
            <label for="yes"><?php echo __('yes')?></label>
        <input type="radio" id="no" name="json" value="0">
            <label for="no"><?php echo __('no')?></label>
    </div>
    <button type="submit" class="action primary"><?php echo __('Submit')?></button>
</form>