<?php /** @var \Training3\OrderInfo\Block\Index $block */?>
<table>
    <tr>
        <th>
            <?php echo __('Order Status'); ?>
        </th>
        <th>
            <?php echo __('Total'); ?>
        </th>
        <th>
            <?php echo __('Total Invoiced'); ?>
        </th>
    </tr>
    <tr>
        <td>
            <?php echo __($block->getData('status')); ?>
        </td>
        <td>
            <?php echo __($block->getData('Total')); ?>
        </td>
        <td>
            <?php echo __($block->getData('Invoiced')); ?>
        </td>
    </tr>
</table>
<a class="action primary" href="<?= $this->getUrl() . 'orderinfo/order/index'?>">back</a>