<!--@subject Enquiry Form@-->
<!--@vars {
"var data.product":"Product",
"var data.email":"Sender Email",
"var data.name":"Sender Name",
"var data.message":"Message"
} @-->
{{template config_path="design/email/header_template"}}
{{trans "Name: %name" name=$data.name}}<br/>
{{trans "Email: %email" email=$data.email}}<br/>
{{trans "Product: %product" product=$data.product}}<br/>
{{trans "Message: %message" message=$data.message}}<br/>
{{template config_path="design/email/footer_template"}}