<button type="button" class="action primary box-tocart" id="popupButton" data-toggle="modal"
        data-target="#myModal"><?php echo __('Send Enquiry')?></button>
<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog" style="display:none;">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><?php echo __('Send Enquiry')?></h4>
            </div>
            <div class="modal-body">
                <?php /** @var $block HobbyDigi\ProductEnquiry\Block\Popup */ ?>
                <form action="<?php echo $block->getFormAction() ?>" method="post">
                    <div class="form-group">
                        <label for="name"><?php echo __('Name: ');?></label>
                        <input type="text" class="form-control" id="name" placeholder="<?php echo __('Enter name')?>" name="name">
                    </div>
                    <div class="form-group">
                        <label for="email"><?php echo __('Email: ');?></label>
                        <input type="email" class="form-control" id="email" placeholder="<?php echo __('abc@example.com')?>" name="email">
                    </div>
                    <div class="form-group">
                        <label for="product"><?php echo __('Product Name: ') ?></label>
                        <input type="text" class="form-control" id="product" placeholder="<?php echo __('Enter Product Name')?>" name="product">
                    </div>
                    <div class="form-group">
                        <label for="message"><?php echo __('Message: ');?></label>
                        <textarea type="text" class="form-control" id="message" rows="5" placeholder="<?php echo __('Enter enquiry message')?>" name="message"></textarea>
                    </div>
                    <button type="submit" class="action primary"><?php echo __('Submit')?></button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    require(['jquery', 'HobbyDigi_ProductEnquiry/js/popup-component'],
        function ($) {
            return;
        }
    );
</script>