<?php /** @var \Training4\VendorList\Block\Index $block */ ?>
<h2>Vendor List</h2>
<?php foreach ($block->getVendor() as $item) :?>
    <p><a href="<?= $this->getUrl() . 'vendorlist/index/vlist?vendor_id=' . $item->getData('vendor_id')?>" class="action primary"><?php echo $item->getData('name') ?></a></p>
<?php endforeach; ?>
