<?php /** @var Training4\VendorList\Block\Index $block */ ?>
<?php
$cat = $block->getRequest()->getParam('cat');
if ($cat == 20) {
    $cat = [23, 24, 25, 26, 27, 28];
}
elseif ($cat == 11) {
    $cat = [14, 15, 16, 17, 18, 19];
}
elseif ($cat == 3) {
    $cat = [3, 4, 5, 6];
}

$categoryProducts = $block->getCategoryProducts($cat);
?>
<h2>Vendor <?php echo $block->getRequest()->getParam('vendor_id') ?></h2>
<a href="<?= $this->getUrl() . 'vendorlist/index/vendor' ?>" class="action primary">back</a>
<h3>Products:</h3>
<?php if (!$block->getRequest()->getParam('cat')): ?>
    <?php foreach ($block->getProducts() as $item): ?>
        <p><?php echo $item->getData('entity_id') ?></p>
    <?php endforeach; ?>
<?php else: ?>
<?php foreach ($categoryProducts as $item): ?>
        <p><?php echo $item->getData('entity_id') ?></p>
<?php endforeach; ?>
<?php endif ?>