<?php
/**
 * Product list toolbar
 *
 * @var $block \Magento\Catalog\Block\Product\ProductList\Toolbar
 */
use Magento\Catalog\Model\Product\ProductList\Toolbar;
$vendorId = $block->getRequest()->getParam('vendor_id');
?>
<div class="toolbar-sorter sorter">
    <label class="sorter-label" for="sorter"><?php /* @escapeNotVerified */ echo __('Sort By') ?></label>
    <select id="sorter" data-role="sorter" class="sorter-options">

        <option value="<?php /* @escapeNotVerified */ echo 'Product Id'; ?>"
            <?php if ($block->isOrderCurrent('Product Id')): ?>
                selected="selected"
            <?php endif; ?>
        >
            <?php echo $block->escapeHtml(__('Product Id')) ?>
        </option>

    </select>
    <?php if ($block->getRequest()->getParam('sort_by') == 'desc'): ?>
        <a title="<?php /* @escapeNotVerified */ echo __('Set Ascending Direction') ?>" href="?vendor_id=<?= $vendorId ?>&sort_by=asc" class="action sorter-action sort-desc" data-role="direction-switcher" data-value="asc">
            <span><?php /* @escapeNotVerified */ echo __('Set Ascending Direction') ?></span>
        </a>
    <?php else: ?>
        <a title="<?php /* @escapeNotVerified */ echo __('Set Descending Direction') ?>" href="?vendor_id=<?= $vendorId ?>&sort_by=desc" class="action sorter-action sort-asc" data-role="direction-switcher" data-value="desc">
            <span><?php /* @escapeNotVerified */ echo __('Set Descending Direction') ?></span>
        </a>
    <?php endif; ?>
</div>


