@cart: url(../images/cart.png);

.minicart-wrapper {
  .action.showcart::before {
    content: @cart;
    height: 30px;
    width: 30px;
    border: 1px solid black;
  }

  .active {
    content: @cart;
    height: 30px;
    width: 30px;
    border: 1px solid blue;
  }
}