<fieldset class="fieldset create account" data-hasrequired="<?php /* @escapeNotVerified */ echo __('* Required Fields') ?>">
    <legend class="legend"><span><?php /* @escapeNotVerified */ echo __('Additional Information') ?></span></legend>
    <p>
    <div class="field regulation required">
        <label for="regulation" class="label"><span><?php /* @escapeNotVerified */ echo __('ID Card Number') ?></span></label>
        <div class="control">
            <input type="text" name="customer_id" id="customer_id" title="<?php /* @escapeNotVerified */ echo __('ID') ?>" class="input-text" data-validate="{required:true}">
        </div>
    </div>
    </p>
</fieldset>