<?php /** @var \Training2\OrderController\Block\Index $block */ ?>
<form method="post" action="<?php echo $this->getUrl() . 'ordercontroller/order/returnjson'; ?>" name="orderDetail">
    <div class="form-group" style="margin-bottom: 5px">
        <label for="id"><?php echo __('Order Id: ');?></label>
        <input type="number" class="form-control" id="id" name="id">
    </div>
    <button type="submit" class="action primary"><?php echo __('Submit')?></button>
</form>